*{
    box-sizing: border-box;
    padding: 0;
    padding: 0;
}
body{
    font-family: 'Shrikhand', cursive;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.mainTitle{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
.sub{
    color: grey;
    text-align: center;
    display: block;
    margin-bottom: 100px;
    position: relative;
}
.sub::before{
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 10px;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20px);
}

/* variables */
:root{
    --main-color:rgb(38, 107, 191);
}
/* variables */

/* REsponsive */
/* @media (max-width:767px) {
    body{
        width: 763px;
    }
}
@media (min-width:991px) {
    body{
        width: 985px;
    }
}
@media (min-width:1200px) {
    body{
        width: 1194px;
    }
} */
/* REsponsive */
/* Header */
header{
    background-image: url(../images/depositphotos_164207772-stock-photo-the-truck-runs-on-the.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding: 20px;
    position: relative;
}
/* nav */
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:  20px;
    padding-right:  20px;
}
nav .logo img{
    width: 100px;
}
nav .navbar {
    display: flex;
    gap: 30px;
}
nav .navbar li a{
    color: whitesmoke;
}
nav .navbar li{
    position: relative;   
    padding: 10px 15px;
}
nav .navbar li:not(:last-child):before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom:4px solid  var(--main-color);
    transition:0.5s ease ;
}
nav .navbar li:hover:not(:last-child):before{
    width: 100%;
}
nav .navbar li:hover a{
    color:var(--main-color);
}
nav .navbar li .log{
    color: black;
    background-color: rgb(38, 107, 191) ;
    padding: 10px 15px;
    border-radius: 40px;
    transition: 0.3s;
}
nav .navbar li .log:hover{
    background-color:var(--main-color) ;
    color: white;
}

/* nav */
/* content */
.content{
    margin-top: 80px ;
    margin-bottom: 80px ;
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 300px;
    justify-content: flex-end;
}
.content span{
    font-size: 40px;
    color: white;
}
/* content */
/* boxes */
.info{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 300px ,1fr));
    gap: 20px;
}

.info .box{
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    transition: transform 0.5s  , box-shadow 0.5s;
}
.info .box:hover{
    transform: translateY(-10px);
    box-shadow: -1px 20px 15px 15px rgba(0, 0, 0, 0.221);
}
.info .box img{
    max-width: 100%;
    height: 50%;
}
.info .box a{
    color: white;
    background-color: black;
    padding: 15px 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    min-width: 180px;
}
.info .box a .active,
.info .box a:hover{
    background-color: var(--main-color);
    color: white;
}
.info .text{
    padding:20px;
}
.info .text h3{
    color: var(--main-color);
}
.info .box:hover .text h3,
.info .box:hover .text h3::before{
    color: black;
}
.info .text h3::before{
    content: "";
    position: absolute;
    border-top: 3px solid var(--main-color);
    width: 50px;
    margin-top: -10px;
}
.info .text p{
    font-size: 14px;
    color: rgb(95, 90, 90);
    line-height: 1.5;
}
/* boxes */
.container .more{
    background-color:  black;
    color: rgb(38, 107, 191);
    padding: 15px 20px ;
    border-radius: 40px;
    margin-top: 30px;
    display: block;
    width: fit-content;
    margin-left: 530px;
    transition: 0.3s;
}
.container .more:hover{
    background-color:  var(--main-color);
    color: white;
}
/* Header */
/* Services */
.Services{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.Services .blocks{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px , 1fr));
    gap: 40px;
}
.Services .blocks p{
    color: grey;
    line-height: 1.5;
}
/* Services */
/* About */
.about{
    background-color: rgb(18, 25, 84);
    display: flex;
}
.about .right{
    flex-basis: 50%;
}
.about .right img{
    width: 100%;
}
.about .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.about .left h1{
    font-weight: bold;
    color: white;
}
.about .left ul li {
    padding-top:20px ;
    color: white;
    position: relative;
    transition: 0.5s;
}
.about .left ul li:hover{
    transform: translateY(-10px);
}
.about .left .one{
    margin-left: 20px;
}
.about .left .two{
    margin-right: 20px;
}
.about .left .three{
    margin-left: -25px;
}
.about .left .four{
    margin-right: 15px;
}
.about .left .five{
    margin-left: 20px;
}
/* About */
/* Location */
.location{
    margin-top: 30px;
    margin-bottom: 30px;
}
.location .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 300px ,1fr));
    gap: 20px;
}
.location .nice .once,
.location .nice .twice{
    position: relative;
}
.location .nice .once img,
.location .nice .twice img{
    width: 80px;
    height: 80px;
    position: absolute;
}
.location .nice .text{
    margin-left: 100px;
}
.location .nice .text span{
    color: grey;
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
}
.location .nice .text p{
    margin-top: 5px;
    font-weight: bold;
}
.location .nice .text a{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: var(--main-color);
    font-weight: 700;
}
.location .nice .mark{
    text-align: center;
    line-height: 1.5;
    color: grey;
    margin-bottom: 30px;
    margin-top: 50px;
}
.location .nice .name{
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom:10px ;
}
.location .nice .job{
    font-weight: bold;
    text-align: center;
    display: block;
}
.location .nice .map{
    width: 300px;
    height: 150px;
}
.location .nice .info{
    text-align: center;
    line-height: 1.5;
}
.location .nice .info a{
    padding: 10px 15px;
    color: var(--main-color);
    width: fit-content;
    background-color: black ;
    border-radius: 0 15px 0 15px;
    margin-left: 130px;
    transition: 0.3s;
}
.location .nice .info a:hover{
    border-radius: 15px 0 15px 0;
    background-color: var(--main-color);
    color: white;
}
/* Location */
/* Footer */
footer {
    background-color: rgb(11, 11, 23);
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
}
footer .container .box h3{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
footer .container .box p{
    font-size: 14px;
    line-height: 1.5;
    color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer .container .box form{
    margin-bottom: 20px;
}
footer .container .box form input{
    padding: 10px;
    outline: none ;
}
footer .container .box form input::placeholder{
    color: black;
    font-size: 12px;
    opacity: 0.5;
}
footer .container .box form input:focus::placeholder{
    display: none;
}
footer .container .box form a{
    padding: 10px;
    background-color: var(--main-color);
    color: black ;
    transition: 0.3s;
}
footer .container .box form a:hover{
    color: white;
    background-color: black;
}
footer .container .box ul li{
    padding: 10px;
    transition: 0.3s;
}
footer .container .box .one:hover{
    margin-left:30px ;
}
footer .container .box .two:hover{
    margin-left:20px ;
}
footer .container .box .three:hover{
    margin-left:30px ;
}
footer .container .box .four:hover{
    margin-left:20px ;
}
footer .container .box .five:hover{
    margin-left:30px ;
}
footer .container .box ul li i{
    margin-right: 5px;
    color: white;
}
footer .container .box ul li:hover i{
    color: var(--main-color);
}
footer .container .box ul li a{
    color: var(--main-color);
}
footer .container .box ul li:hover a{
    color:white;
}
footer .container .box span{
    display: block;
    color: orange;
    padding: 10px;
}
footer .container .box span a{
    color: white;
}
footer .container .box .icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer .container .box .icons a{
    padding: 20px;
    background-color: grey;
    color: var(--main-color);
}
hr{
    margin: 10px auto;
}
footer > span{
    color: white;
    display: block;
    text-align: center;
}
/* Footer */